<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-center"><%= t('header.edit_profile') %></h2>

        <%= render 'form' %>

        <p class="buffer-top">
          <%= link_to  t('link.change_password'), edit_user_registration_path %>
        </p>
  </div>
</div>
