<p>Привет <%= @resource.email %>!</p>

<p>Мы получили запрос на сброс вашего пароля.
Если это были вы — нажмите на ссылку сброса пароля.</p>

<p><%= link_to 'Сбросить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы этого не делали, просто проигнорируйте это сообщение.</p>
<p>Ваш пароль не изменится до тех пор, пока вы не перейдете по указанной выше ссылке и не создадите новый.</p>
